<?xml version="1.0"?>
<model>
  <name>dead_blow_hammer_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Dead blow hammer (bright single-colour variant). Mass 842.5 g, length 302 mm. Source: dead-blow-hammer-2.snapshot.3.zip</description>
</model>
