<?xml version="1.0"?>
<model>
  <name>adjustable_wrench_200mm_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Adjustable wrench 200 mm (bright single-colour variant). Mass 320.3 g, length 209 mm. Source: crescent-wrench-cle-a-molette-1.snapshot.3.zip</description>
</model>
