<?xml version="1.0"?>
<model>
  <name>adjustable_wrench_150mm_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Adjustable wrench 150 mm (DIN 3117) (bright single-colour variant). Mass 143.8 g, length 160 mm. Source: adjustable-wrench-din-3117-b-150-inv-2014-1.snapshot.4.zip</description>
</model>
