<?xml version="1.0"?>
<model>
  <name>adjustable_wrench_300mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Adjustable wrench 300 mm (12 in). Mass 496.7 g, length 300 mm. Source: adjustable-wrench-54.snapshot.1.zip</description>
</model>
