<?xml version="1.0"?>
<model>
  <name>combination_wrench_10mm_offset</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Combination wrench 10 mm, offset ring. Mass 47.6 g, length 150 mm. Source: 10mm-wrench-2.snapshot.2.zip</description>
</model>
