<?xml version="1.0"?>
<model>
  <name>rubber_mallet_25mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Rubber mallet, 25 mm double face. Mass 334.7 g, length 282 mm. Source: mallet-hammer-1.snapshot.1.zip</description>
</model>
