<?xml version="1.0"?>
<model>
  <name>torque_wrench_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Torque wrench (click type) (bright single-colour variant). Mass 939.2 g, length 321 mm. Source: torque-wrench-8.snapshot.1.zip</description>
</model>
