<?xml version="1.0"?>
<model>
  <name>phillips_screwdriver_100mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Phillips screwdriver, 100 mm blade. Mass 83.8 g, length 209 mm. Source: screwdriver-334.snapshot.4.zip</description>
</model>
