<?xml version="1.0"?>
<model>
  <name>phillips_screwdriver_80mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Phillips screwdriver PH1 x 80 mm (Wera 350). Mass 63.9 g, length 178 mm. Source: wera-screwdriver-ph-1x80-1.snapshot.2.zip</description>
</model>
