<?xml version="1.0"?>
<model>
  <name>combination_wrench_13mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Combination wrench 13 mm (ISO 7738). Mass 99.0 g, length 190 mm. Source: iso-7738-combination-wrenches-set-a8-a24-2.snapshot.42.zip</description>
</model>
