<?xml version="1.0"?>
<model>
  <name>flathead_screwdriver</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Flathead screwdriver. Mass 37.2 g, length 175 mm. Source: flathead-screwdriver-9.snapshot.3.zip</description>
</model>
