<?xml version="1.0"?>
<model>
  <name>pry_bar_15in_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Pry bar / crowbar 15 in (bright single-colour variant). Mass 512.2 g, length 382 mm. Source: 15-pry-bar-crowbar-1.snapshot.1.zip</description>
</model>
