<?xml version="1.0"?>
<model>
  <name>socket_extension_1_4in_260mm_bright</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Satellite Applications Catapult - ISAM</name>
  </author>
  <description>Socket extension 1/4 in drive, 260 mm (bright single-colour variant). Mass 110.0 g, length 260 mm. Source: 1-4-socket-extensions-1.snapshot.1.zip</description>
</model>
